.modal_main{
    position: fixed;
    top:0;
    left: 0;
    height:100vh ;
    width: 100%;
    background-color: rgb(155, 160, 165,0.2);
    display: flex;
    justify-content: center;
    align-items: center;
}
.modal_content{
    background-color: white;
    border: radius 3px; 
    max-height: 90vh;
    overflow-y: auto;
}